.lil-gui {
	--background-color: rgb(50 99 121);
	--text-color: white;
	--title-background-color: #023047;
	--title-text-color: white;
	--widget-color: #023047;
	--hover-color: #144963;
	--focus-color: #144963;
	--number-color: rgb(96 190 234);
	--string-color: white;
}

.lil-gui option {
	color: black;
}
