.lil-gui {
	--background-color: rgb(50, 99, 121);
	--text-color: hsl(204, 50%, 95%);
	--title-background-color: #023047;
	--title-text-color: hsl(204, 50%, 95%);
	--widget-color: #023047;
	--hover-color: #144963;
	--focus-color: #144963;
	--number-color: rgb(96, 190, 234);
	--string-color: hsl(204, 50%, 95%);
}

.sidebar-button {
	padding-top: 1em;
	padding-bottom: 1em;
}

.sidebar-button:hover {
	background-color: #144963;
}
