.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: hsl(204, 50%, 95%);
}

.hyperlink {
  color: hsl(32, 100%, 65%)
}

a {
  text-decoration: none;
}

.DisplayCard {
  width: 30em;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: hsl(199, 35%, 45%);
  border-radius: 1em;
  transition: 0.3s;
  color: rgb(255, 255, 255);
}

.DisplayCard:hover {
  background-color: hsl(199,35%, 50%);
}

.DisplayCard:visited {
  color: rgb(255, 255, 255);
}

.DisplayCard-name {
  font-size: 1.5em;
  font-weight: bold;
}

.DisplayCard-body {
  padding: 0.5em;
}

.DisplayCard-thumbnails {
  display: flex;
  margin-top: 1em;
  flex-direction: row;
}

.DisplayCard-thumbnail {
  border-radius: 0.75em;
  padding: 0.15em;
  overflow: hidden;
}

.DisplayCard-image {
  max-width: 100%;
  display: block;
}

.App-header {
  background-color: #023047;
  padding: 1em;
  align-items: start;
}

.App-main {
  background-color: rgb(50, 99, 121);
  padding: 2em;
  flex-grow: 1;
}

.App-footer {
  background-color: rgb(2,48,71);
  padding: 1em;
  align-items: start;
}