.app {
	display: flex;
	height: 100%;
	flex-direction: column;
	margin: 0;
}

.display-card > h2 {
	margin: 0;
}

.display-grid {
	display: flex;
	margin-block: 1em;
	gap: 1em;
	flex-wrap: wrap;
}

.display-card {
	width: 30em;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0.5em;
	background-color: hsl(199deg 35% 40%);
	border-radius: 1em;
	transition: 0.3s;
	cursor: pointer;
	border: 0.2em solid transparent;
}

.display-card:hover {
	background-color: hsl(199deg 35% 43%);
	border: 0.2em solid white;
}

.display-card-name {
	font-size: 1.5em;
	font-weight: bold;
}

.display-card-body {
	padding: 0.5em;
}

.display-card-thumbnails {
	display: flex;
	margin-top: 1em;
	flex-direction: row;
}

.display-card-thumbnail {
	border-radius: 0.75em;
	padding: 0.15em;
	overflow: hidden;
}

.display-card-image {
	max-width: 100%;
	display: block;
}
