.app {
	display: flex;
	height: 100%;
	flex-direction: column;
	margin: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background-color: rgb(2 48 71);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.display-grid {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
}

.display-card {
	width: 30em;
	max-width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
	background-color: hsl(199deg 35% 45%);
	border-radius: 1em;
	transition: 0.3s;
	color: rgb(255 255 255);
	cursor: pointer;
	border: none;
}

.display-card:hover {
	background-color: hsl(199deg 35% 50%);
}

.display-card:visited {
	color: rgb(255 255 255);
}

.display-card-name {
	font-size: 1.5em;
	font-weight: bold;
}

.display-card-body {
	padding: 0.5em;
}

.display-card-thumbnails {
	display: flex;
	margin-top: 1em;
	flex-direction: row;
}

.display-card-thumbnail {
	border-radius: 0.75em;
	padding: 0.15em;
	overflow: hidden;
}

.display-card-image {
	max-width: 100%;
	display: block;
}
