* {
	color: rgb(255 255 255);
}

html {
	background-color: rgb(2 48 71);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

header,
footer {
	background-color: rgb(2 48 71);
}

main {
	background-color: rgb(55 95 113);
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	--header-height: 3rem;
}

#root > main {
	flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a {
	color: rgb(252 200 120);
	text-decoration: underline;
}

a:hover {
	color: white;
	cursor: pointer;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
}

.nav-card-container {
	display: flex;
	margin-block: 1rem;
	gap: 1rem;
	flex-wrap: wrap;
}

.nav-card {
	width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 1rem;
	background-color: hsl(199deg 35% 40%);
	border-radius: 1rem;
	transition: 0.3s;
	cursor: pointer;
	border: 0.2em solid transparent;
	text-decoration: none;
}

.nav-card:hover {
	background-color: hsl(199deg 35% 43%);
	border: 0.2em solid white;
}
