.sample-main {
	display: flex;
	flex-direction: row;
}

.sample-directory {
	padding: 2rem;
}

.sample-body {
	flex: 1;
}

.sample-app-container {
	display: flex;
	flex-direction: row;
	background-color: var(--background-color-dark);

	/*
	 * We have sample end neatly at 100vh when page is scrolled all the way up.
	 * This assumes that only the header is offsetting the top
	 */
	height: calc(100svh - var(--header-height) - 2rem);
}

.sample-sidebar {
	width: 10rem;
	background-color: var(--background-color-dark);
	justify-items: center;
}

.sample-sidebar > h2 {
	padding-inline: 1rem;
	margin: 0;
}

.sample-sidebar > ul {
	padding: 0;
	margin: 0;
}

.sample-sidebar > ul > li {
	width: 100%;
	height: 2rem;
	display: flex;
	text-align: center;
	list-style-type: none;
}

.sample-sidebar > ul > li > a {
	flex: 1;
}
